@media only screen and (-webkit-device-pixel-ratio: 2)
  .border-1px
    &::before
      transform scaleY(.5)
@media only screen and (-webkit-device-pixel-ratio: 3)
  .border-1px
    &::before
      transform scaleY(.333333333333)

bottom-border-1px($color)
  position relative
  &::before
    content ''
    position absolute
    z-index 200px
    left 0
    right 0
    bottom 0
    height 1px
    background-color $color
    transform scaleY(.5)


top-border-1px($color)
  position relative
  &::before
    content ''
    position absolute
    z-index 200px
    top 0
    left 0
    right 0
    height 1px
    background $color
    transform scaleY(.5)

i
  font-style: italic



